<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/current-task.js"></script>
<script type="text/javascript" src="/javascript/user-drop-down.js"></script>
<script type="text/javascript" src="/javascript/darkModeToggle.js"></script>
</body>

<footer>

    


</footer>
</html>