<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fight Club</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <div class="taskbar-containerr">   
        <img class="logo" src="/image/fightclublogo.png" alt="fight club logo"/>
        
        <div class="task"><a href="/event">Study Buddy</a></div>
        <div class="task"><a href="/home">Best Bets</a></div>
        <div class="task"><a href="/home">Prediction Rankings</a></div>
        <div class="task"><a class="premium" href="/home">Premium</a></div>
        <div class="task"><a href="/home">Login/Signup</a></div>

    </div>