<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fight Club</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/fightclub-icon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css" integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div class="taskbar-containerr">   
        <a href="/" class="logo logo-light"><img class="logo" src="/image/fightclublogo3d.png" alt="fight club logo"/></a>
        <a href="/" class="logo logo-dark"><img class="logo" src="/image/fightclublogo3d-dark.png" alt="fight club logo"/></a>
        <a class="task events-task" href="/events">Events</a>
        <a class="task" href="/tape-index">Tape Index</a>
        <a class="task" href="/home">Best Bets</a>
        <a class="task" href="/leaderboards">Prediction Rankings</a>
        <a class="task" class="premium" href="/premium">Premium</a>
        <% if(user){ %>
        <div class="user-drop-down">
            <a onclick="userDropDown()" class="drop-down-btn"><img style="margin-right: 5px;" class="drop-down-img prof-image-comment" src="/data/uploads/profilePictures/<%=user.profImage_url %>" alt="user profile image"></a>
            <div id="userDropDown" class="user-drop-content">
                <a href="/user/<%=user.username%>">View Profile</a>
                <a class="task events-task mobile-task" href="/events">Events</a>
                <a class="task mobile-task" href="/tape-index">Tape Index</a>
                <a class="task mobile-task" href="/home">Best Bets</a>
                <a class="task mobile-task" href="/leaderboards">Prediction Rankings</a>
                <a class="task mobile-task" class="premium" href="/home">Premium</a>
                <form action="/logout?_method=DELETE" method="post">
                    <button style="padding: 5px;" class="fight-page-predict-button" type="submit">logout</button>
                </form>
            </div>
        </div>
            
        <% } else{ %>
            <a class="task login-task" href="/login">Login/Signup</a>
            <div class="user-drop-down">
                <a onclick="userDropDown()" class="drop-down-btn menu-light"><img style="margin-right: 5px;" class="drop-down-img prof-image-comment" src="/image/hamburger-ui-light.svg" alt="ui menu icon"></a>
                <a onclick="userDropDown()" class="drop-down-btn menu-dark"><img style="margin-right: 5px;" class="drop-down-img prof-image-comment" src="/image/hamburger-ui-dark.svg" alt="ui menu icon"></a>
                <div id="userDropDown" class="user-drop-content">
                    <a class="task events-task mobile-task" href="/events">Events</a>
                    <a class="task mobile-task" href="/event">Study Buddy</a>
                    <a class="task mobile-task" href="/home">Best Bets</a>
                    <a class="task mobile-task" href="/leaderboards">Prediction Rankings</a>
                    <a class="task mobile-task" class="premium" href="/premium">Premium</a>
                    <a class="task login-task mobile-task" href="/login">Login/Signup</a>
                </div>
            </div>
        <% }%>
           
        
        

    </div>