<%- include("partials/header"); -%>

    <div class="event-page-containerr">
        <h1 class="title-text eventName">UFC 291</h1>
        <h2 class="title-text mainCard">Main Card</h2>
        <img src="/image/UFC 291.jpg" alt="UFC 291 poster" class="poster">
        <div class="info-container">
            <p>location: Salt Lake City</p>
            <p>Promotion: UFC</p>
        </div>
       
        <div class="best-bets-container panel">
            <h2 class="titles-text">Best Bets:</h2>
            <h3>Community Voted:</h3>
<!--community voted Best bets generated here--> 
            <div class="best-bets-row best-bet-rank">
                <div class="circle">1</div>
                <div class="best-best-col">
                    <div class="best-bets-row">
                        <h4 class="best-bets-info">Bet Name</h4>
                        <p class="best-bets-odds">-400</p>
                    </div>
                    
                    <div class="best-bets-row votes">
                        <img src="/image/gold-fist.svg" height="25px" alt="gold fist icon">
                        <p class="best-bets-votes best-votes">0</p>
                        <img src="/image/thumbs-up-blue.svg" height="25px" alt="thumbs up icon">
                        <p class="best-bets-votes">0</p>
                        <img src="/image/thumbs-down-grey.svg" height="25px" alt="thumbs down icon">
                        <p class="best-bets-votes">0</p>
                    </div>
                </div>
            </div>
            <h3>Editor Chosen:</h3>
<!--Best bets chosen by the website admins generated here-->
            <div class="best-bets-row best-bet-rank">
                <div class="circle">1</div>
                <div class="best-best-col">
                    <div class="best-bets-row">
                        <h4 class="best-bets-info">Bet Name</h4>
                        <p class="best-bets-odds">-400</p>
                    </div>
                    
                    <div class="best-bets-row votes">
                        <img src="/image/gold-fist.svg" height="25px" alt="gold fist icon">
                        <p class="best-bets-votes best-votes">0</p>
                        <img src="/image/thumbs-up-blue.svg" height="25px" alt="thumbs up icon">
                        <p class="best-bets-votes">0</p>
                        <img src="/image/thumbs-down-grey.svg" height="25px" alt="thumbs down icon">
                        <p class="best-bets-votes">0</p>
                    </div>
                </div>
            </div>   
        <div>
            
        </div>
        </div>
        <div class="mainCard-container">
<!--Main card fight panels generated here--> 
            <div class="panel fight-listing">
                <div class="fight-listing-row">
                    <div class="fight-listing-fighter">
                        <img class="fighter-img" src="/image/dustin.jpg" height="150px" alt="fighter 1 picture">
                        <a class="fighter-name" href="./event.html">Dustin Poirier </a>
                        <p class="fighter-info">Record: <span>29-7</span></p>
                        <p class="fighter-info">Style: Boxer</p>
                        <p class="fighter-info">Height: 5'9" Reach: 71"</p>
                    </div>
                    <p class="vs">VS.</p>
                    <div class="fight-listing-fighter">
                        <img class="fighter-img" src="/image/justin.jpg" height="150px" alt="fighter 1 picture">
                        <a class="fighter-name" href="./event.html">Justin Gaethje</a>
                        <p class="fighter-info">Record: 24-4</p>
                        <p class="fighter-info">Style: Striker</p>
                        <p class="fighter-info">Height: 5'11" Reach: 70"</p>
                    </div>
                </div>
            </div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
        </div>

    </div>

    <div class="secondary-page-container">
        <h2 class="title-text prelims-title">Prelims</h2>
        <div class="prelims-container">
            <div class="panel fight-listing">
                <div class="fight-listing-row">
                    <div class="fight-listing-fighter">
                        <img class="fighter-img" src="/image/dustin.jpg" height="150px" alt="fighter 1 picture">
                        <a class="fighter-name" href="./event.html">Dustin Poirier </a>
                        <p class="fighter-info">Record: <span>29-7</span></p>
                        <p class="fighter-info">Style: Boxer</p>
                        <p class="fighter-info">Height: 5'9" Reach: 71"</p>
                    </div>
                    <p class="vs">VS.</p>
                    <div class="fight-listing-fighter">
                        <img class="fighter-img" src="/image/justin.jpg" height="150px" alt="fighter 1 picture">
                        <a class="fighter-name" href="./event.html">Justin Gaethje</a>
                        <p class="fighter-info">Record: 24-4</p>
                        <p class="fighter-info">Style: Striker</p>
                        <p class="fighter-info">Height: 5'11" Reach: 70"</p>
                    </div>
                </div>
            </div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>



        </div>




    </div>



