<%- include("partials/header"); -%>
<h1 class="title-text">404, Fighter not found!</h1>
<h2>Sorry, that fighters info is not yet available. Our database is updated regularly so check back soon.</h2>

<%- include("partials/footer"); -%>