<%- include("partials/header"); -%>

    <div class="main-page-containerr">
        <div class="hero-containerr panel">
            <div class="hero-sub-containerr">
                <h1 class="title-text">Welcome to the fight club. An mma hub for fight fans.</h1>
                <h2>Whether you’re looking for somewhere to aid your betting, or just a chill place to watch MMA, we’ve got you covered.</h2>
                <p>Checkout some of our features below:</p>
            </div>
            <img class="octagon" src="/image/590703 (1).jpg" alt="Fight club octagon">           

        </div>
        <div class="feature-containerr feature-1 panel">
            <div class="feature-sub-containerr">
            <h2 class="title-text">Study Buddy</h2>
            <p>Equipped with a tape index and some editor notes on the match ups to help you make your picks.</p>
        </div>
        <p>feature image</p>
        </div>
            <div class="feature-containerr feature-2 panel">
                <div class="feature-sub-containerr">
                <h2 class="title-text">Best Bets</h2>
                <p>Vote on the best bets from each event and browse the currently highest voted bets.</p>
            </div>
            <p>feature image</p>
        </div>
        <div class="feature-containerr long panel">
            <div class="feature-sub-containerr">
                <h2 class="title-text">Become a champ</h2>
                <p>Make predictions on events and climb the fight club rankings to become the undisputed champ.</p>
                <p>Browse the profiles of the top predictors & see their predictions for upcoming events.</p>
                <div class="button-containerr">
                    <button type="button" class="button-1">Sign up</button>
                    <p>to get started</p>
                </div>
            </div>
            <p>feature image</p>
        </div>
    </div>
    <div class="secondary-page"></div>




<%- include("partials/footer"); -%>