<img class="home-hero-image" src="/image/fight-club-hero.jpg" alt="hero section">
<%- include("partials/header"); -%>
<div class="home-page-container">


    <div class="home-hero-container">
        <% if (messages.error) { %>
            <h2 class="error-login-redirect error-home"><%= messages.error %></h2>
       <% } %>
        <h1>Welcome to the Fightclub, an MMA hub for fight fans</h1>
        
    </div>
    <div class="feautures-intro">
        <h2>Whether you're looking for a chill place to watch MMA, or somewhere to enhance your bets, we've got you covered.</h2>
        <h3>Some features include:</h3>
        <div class="features-intro-container">
            <div class="intro-feature">
                <img class="feature-icon icon-light" src="/image/mma-fight-light.svg" alt="two stick figures wrestling">
                <img class="feature-icon icon-dark" src="/image/mma-fight-dark.svg" alt="two stick figures wrestling">
                <p>Browse the tape index and watch past fights.</p>
                <a href="/tape-index" class="feature-btn">Premium Feature</a>
            </div>
            <div class="intro-feature">
                <img class="feature-icon icon-light" src="/image/mma-octagon-light.svg" alt="octagon cage">
                <img class="feature-icon icon-dark" src="/image/mma-octagon-dark.svg" alt="octagon cage">
                <p>Browse and comment on past and upcoming events, fights and fighter profiles.</p>
                <a href="/events" class="feature-btn">Browse Events</a>
            </div>
            <div class="intro-feature">
                <img class="feature-icon icon-light" src="/image/leaderboards-light.svg" alt="leaderboard placing">
                <img class="feature-icon icon-dark" src="/image/leaderboards-dark.svg" alt="leaderboard placing">
                <p>Make predictions and climb the prediction rankings.</p>
                <a href="/leaderboards" class="feature-btn">View rankings</a>
            </div>
            <div class="intro-feature">
                <img class="feature-icon icon-light" src="/image/fighter-light.svg" alt="boxer with their fists up">
                <img class="feature-icon icon-dark" src="/image/fighter-dark.svg" alt="boxer with their fists up">
                <p>Sign up and customize your profile to make it your own.</p>
                <a href="/signup" class="feature-btn">Signup</a>
            </div>
        </div>
    </div>

</div>

<%- include("partials/footer"); -%>