<%- include("partials/header"); -%>
<div class="subscription-page-container">
    <div class="title-text-row">
        <div class="rect"></div>
        <h1 class="title-text eventName">Premium</h1>
        <div class="rect"></div>
    </div>   
    <h1>Support the developer and get exclusive perks!</h1>
    <div class="premium-sub-container">
        
        <div class="premium-col">
            
            <div class="premium-feature-container">
                <h3>Current features: </h3>
                <h2>Tape Index</h2>
                <iframe class="youtube-feature-demo" width="560" height="315" src="https://www.youtube.com/embed/N3o5TOTV8rQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="premium-cta-bg">
                    <p>Prepare for fight night by browsing upcoming events and watch the past fights of the fighters!</p>
                    <p class="more-info-premium">*More features coming soon, including a way for premium users to suggest and vote on the next perks to be developed</p>
                </div>
                
            </div>
            
        </div>
        <div class="premium-cta-container">
            <h2>Only $5/month!</h2>
            <div class="premium-cta-bg">
            <ul>
                <li>Get access to the tape index.</li>
                <li>Play a role in the future development of the site.</li>
                <li>This site is designed, created and maintained by me, support me on my journey!</li>
                <li>Cancel anytime.</li>
                <li>More to come.</li>
            </ul>
            <a target="_blank" class="button-1" href="https://buy.stripe.com/8wM4k14JI0TD3mg000">Subscribe</a>
            
            
        </div>
        <h3 class="stripe-logo">

            <img height="30px" src="/image/lock-light.svg" alt="secure icon">
            Powered by 
            <img height="45px" src="/image/stripe-logo-light.svg" alt="stripe logo">
        </h3>
        </div>
    </div>
</div>



<%- include("partials/footer"); -%>