/*color pallete
#0031a4
#001c48

#055ca3
#093759
#69b3e3
#0f2734
*/
body{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}
/*all*/
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Rubik', sans-serif;
}


/*all*/
.taskbar-containerr{
    background: linear-gradient(180deg, #ffffff, #a8a8a831);
    display: flex;
    border: 1px solid #e5e7eb;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px, rgba(0, 0, 0, 0.04) 0px 2px 2px, rgba(0, 0, 0, 0.04) 0px 4px 4px, rgba(0, 0, 0, 0.04) 0px 8px 8px, rgba(0, 0, 0, 0.04) 0px 16px 16px;
    border-bottom: 4px solid #01255f;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    top:0;
    
  
}

/*all*/
.logo{
    height: 70px;
    padding-left: 1%;
    padding-top: .5%;
    margin-right: auto;
}

/*all*/
.title-text{
    color: #001c48;
    border-bottom: 1px dashed #d4d5d6;
}

/*all*/
.task{
    margin: 10px; 
}

/*event.ejs*/
.eventName{
    margin-left: 20px;
    grid-area: 1/1/2/3;
}

/*event.ejs*/
.mainCard{
    grid-area: 1/4/2/5;
    align-self: flex-end;
}

/*event.ejs*/
.mainCard-container{
    grid-area: 2/4/-1/-1;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 5px ;
}

.belt-image{
    height: 7%;
}
.belt-container{
    display: flex;
    flex-direction: column;
}
.event-fight-history-col img{
    max-height: 30px;
}
.event-fight-history-col a{
    max-height: 30px;
    font-weight: 500;
    color: #00091f;
}

.belt-row{
    display: flex;
    align-items: center;
}

/*all*/
a{
 
    color: black;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000*/
}

/*all.ejs*/
.premium{
    color: #0031a4;
    font-weight: 500;
}

/*event.ejs*/
.main-page-containerr{
    height: 30rem;
    width: 100%;
    border-top: 0px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr;
    gap: 15px;
    padding: 2px;
    height: 88vh;  
}

/*event.ejs*/
.event-page-containerr{
    height: 30rem;
    width: 100%;
    border-top: 0px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr 5fr 1fr 1fr 1fr/1fr 1fr 1fr 3fr 3fr;
    gap: 15px;
    height: 120vh;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 5px;
    padding: 2% 0;
    margin-top: 95px;
}

/*event.ejs*/
.fight-listing{
    background: linear-gradient(180deg, #ffffff, #d3d3d331);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

/*event.ejs*/
.weightClass{
    align-self: center;
    background-color:#001c48;
    background-size: 120% 120%;
    width: 110%;
    height: 7%;


    
}

.compose-event-row{
    display: flex;
}

/*event.ejs*/
.weightClass p{
    text-align: center;
    color: white;
    margin: .5% 0;
    opacity: 100%;
    
}

/*event.ejs*/
.fight-listing-row{
    display: flex;
    justify-content: space-evenly;
}

/*event.ejs*/
.fight-listing-fighter{
    display: flex;
    flex-direction: column;
    
}

/*event.ejs*/
.vs{
    align-self: center;
    color:#0031a4;
    font-weight: 600;
}

/*event.ejs*/
.fighter-img{
    margin-top: 3%;
    width: 170px;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
    border: 2px solid #f5f5f5;
}

.fighter-img:hover{
    border: 2px solid #0031a4;

}

.fighter-profile-image{
    max-width: 80%;
    max-height: 500px;
    align-self: center;
    object-fit: cover;
}

.fight-listing-fighter p{
    color: #00091f;
}

/*event.ejs*/
.fighter-name{
    align-self: center;
    color:#0031a4;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5%;
    cursor: pointer;
    
}
.fighter-name:hover{
    -webkit-text-fill-color:#001c48;

}

/*event.ejs*/
.fighter-info{
    margin: 2px 0;
    font-size: .9rem;
}

/*event.ejs*/
.best-bets-row{
    display: flex;
    align-items: center;
}

/*event.ejs*/
.best-bets-col{
    display: flex;
    flex-direction: column;

}

/*event.ejs*/
.best-bets-votes{
    margin: 0;
}

/*event.ejs*/
.best-bets-info{
    color: black;
    margin: 0 0 0 2.5%;
    min-width: 90px;
}

/*event.ejs*/
.best-bet-rank{
    margin-bottom: 3%;
}

/*event.ejs*/
.best-bets-odds{
    margin: 0;
    color: rgba(0, 0, 0, 0.527);
}

/*event.ejs*/
.best-votes{
    margin-left: 2.5%;
}

/*event.ejs*/
.circle{
    background-color: #d4d5d6;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 10px;
    border: 1px solid #EEEEEE;
    text-align: center;
    font: 30px rubik, sans-serif;
}

/*all.ejs*/
.panel{
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding-left: 1%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px, rgba(0, 0, 0, 0.04) 0px 2px 2px, rgba(0, 0, 0, 0.04) 0px 4px 4px, rgba(0, 0, 0, 0.04) 0px 8px 8px, rgba(0, 0, 0, 0.04) 0px 16px 16px;
    

}

/*event.ejs*/
.best-bets-container{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    padding-left: 10%;
    grid-area: 8/1/13/4;
}

/*event.ejs*/
.poster{
    grid-area: 2/1/8/3;
    height: 350px;
    padding-left: 5%;
    align-self: flex-end;
}

/*event.ejs*/
.secondary-page-container{
    margin-top: 10px;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 5px;
    padding: 2% 0;
}

/*event.ejs*/
.prelims-container{
    border-top: 0px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: 15px;
    padding: 2px;
}

/*event.ejs*/
.prelims-title{
    margin-left: 2%;
    margin-bottom: 1%;
}

/*home.ejs*/
.info-container{
 padding-left: 2%;
 align-self: flex-end;
}

.info-container p{
    font-size: .8rem;
    word-spacing: 1;
    color: #00091f;
    margin: 1.5% 0;
}

.event-info-row{
    grid-area: 2/1/8/4;
    display: flex;
    justify-content: center;
}

/*home.ejs*/
.hero-sub-containerr{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1% 0;
    padding: 1%;
}

/*home.ejs*/
.octagon{
    align-self: center;
    object-fit: cover;
    opacity: 90%;
    height: 80%;
    padding-left: 20%;


}
/*home.ejs*/
.hero-containerr{
    grid-area: 1/1/4/-1;
    display: flex;
    margin-top: 80px;
}
/*home.ejs*/
.feature-containerr{
    display: flex;

}
/*home.ejs*/
.description{
    grid-area: 2/1/4/2;
}


/*home.ejs*/
.feature-sub-containerr{
    grid-area: 2/1/4/2;
    border-radius: 5px;
    flex-basis: 60%;
    margin: 2%;
    padding: 1%;

}
/*home.ejs*/
.feature-1{
    grid-area: 4/1/6/2;
}
/*home.ejs*/
.feature-2{
    grid-area: 6/1/8/2;
}

/*home.ejs*/
.long{
    grid-area: 4/2/-1/-1;
}
/*home.ejs*/
.button-containerr{
    display: flex;
    
}
/*compose-event.js*/
.compose-page{
    margin-top: 95px;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 5px;
    padding: 2% 0;
    

}

/*compose-event.js*/
.compose-constructor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/*compose-event.js*/
.compose-row{
    display: flex;
}

/*compose-event.js*/
.compose-card-constructor{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr;
}

/*events.js*/
.events-page-container{
    height: 30rem;
    width: 100%;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 120vh;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 5px;
    padding: 2% 0;
    margin-top: 95px;
}

.events-title{
    padding: 0 2%;
    margin: 2% 0 0 0;
}

.events-page-container .events-title{
    padding: 0 2%;
    margin: 2% 0 0 0;
}


/*events.js*/
.events-page-row{
    display: flex;
}

/*events.js*/
.events-page-col{
    display: flex;
    flex-direction: column;
}

/*events.js*/
.swiper-container{
    width: 100%;
    overflow: hidden;
}

/*events.js*/
.swiper-button-prev{
    color: #ffffff !important;
    margin-left: 10%;
}

/*events.js*/
.swiper-button-next{
    color: #ffffff !important;
    margin-right: 10%;
}

/*events.js*/
.swipe:hover{
    transform: scale(1.2);
    transition: all 100ms ease-in-out;
    transition-delay: 100ms;

}

/*events.js*/
.swiper-slide{
    transition: all 300ms ease-in-out;
    border-radius: 5px;
}

/*events.js*/
.swiper-slide:hover p{
    opacity: 70%;
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
}

/*events.js*/
.swiper-slide:hover img{
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    z-index: 1 !important;
}

/*events.js*/
.swiper-button-next2{
    top: var(--swiper-navigation-top-offset,94%) !important;
}

/*events.js*/
.swiper-button-prev2{
    top: var(--swiper-navigation-top-offset,94%) !important;
}

/*events.js*/
.events-Photo{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*events.js*/
.events-card{
    background-color:#EEEEEE;

}
/*events.js*/
.swiper-slide p{
    font-weight: 500;
    padding: 0 0 1% 3%;
}

/*event.js*/
.fighter-page-slide-out{
    position: fixed;
    left: 0;
    height: 100%;
    width: 55%;
    z-index: 1;
    overflow-y: scroll;
    visibility: hidden;
}

/*event.js*/
.event-fighter-heading{
    display: flex;
    flex-direction: column;
    align-self: center;

}

/*event.js*/
.event-fighter-heading h2{
    margin-bottom: 10px;
    align-self: center;
}
/*event.js*/
.event-fighter-heading h4{
    margin-top: 0;
    align-self: center;
}

/*event.js*/
.event-fighter-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;

}

/*event.js*/
.event-fighter-info p{
    margin: 0 0 5px 10%;
    min-width:max-content;
}

/*event.js*/
.event-fight-history{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*event.js*/
.event-fight-history-row{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    margin: 0 20px;
    align-items: center;
    padding: 0% 2%;
}

/*event.js*/
.event-fight-history-col{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

/*event.js*/
.event-fight-history-col p{
    margin: 0;
}

/*event.js*/
.close{
    position: fixed;
    left: 52%;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

/*event.js*/
.hidden{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*event.js*/
.shown{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*event.js*/
.win{
    color: #00c42a;
    font-weight: 500;
}
/*event.js*/
.loss{
    color: #ce0000;
    font-weight: 500;
}
/*event.js*/
.draw{
    color: #0070bb;
    font-weight: 500;
}
/*event.js*/
.NC{
    color: #444444;
    font-weight: 500;
}
/*event.js*/
.event-fight-name{
    opacity: 80%;

}

/*event.js*/
.event-fighter-info p{
    font-weight: 500;
}
/*event.js*/
.nickname{
    color: #9aa4ad;
    margin: 5px 0;
    text-align: center;
}
/*event.js*/
.name{
    margin-top: 0%;
    text-align: center;
}

.hide-text{
    font-size: 0%;
    margin: 0;
}

.sign-up-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.sign-up-row{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
}

.credentials-container{
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color:#191919af;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sign-up-hero{
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0%;
    background-color:#191919af;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    align-items: center;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 40%;
    height: 50%;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.445);
}

.signup-form-container h2{
    color:#00091f;
    margin-bottom: 10px;
    
}

.signup-form-container button{
    align-self: center;
    margin-top: 20px;
}

.form-control{
    border-radius: 5px;
    border: 0;
    height: 5%;
    
}

input{
    padding: 4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

input:focus{
    outline-style: groove;
    outline-width: 1px;
    outline-color: #0031a4;
}

.form-label{
    font-family: 'Rubik', sans-serif;
    margin-top: 1%;
    color: #000000dc;
}
.sign-up-row img{
    object-fit: cover;
    height: 80vh;
    position: absolute;
    margin-top: 100px;
    right: 0;
    margin-right: 10%;
    z-index: -1;
    width: 80%;
    border-radius: 10px;
  
}

.sign-up-hero h1{
    padding: 10%;
    color: rgba(255, 255, 255, 0.87);
}

.terms-checkbox{
    display: flex;
}

.terms-checkbox .form-label{
    font-size: .8rem;
}

.form-label a{
    font-size: .8rem;
    color: #001c48;
    font-weight: 500;
}

.signup-form-container p{
    font-size: .9rem;
}
.signup-form-container p  a{
    font-size: .9rem;
    color: #001c48;
    font-weight: 500;
}

.sign-in-checkbox-container{
    display: flex;
    justify-content: space-between;
}
.sign-in-checkbox-container a{
    font-size: .9rem;
    color: #001c48;
    font-weight: 500;
}

.hide-fights{
    display: none;
}
.shown-fights{
    display: grid;
    background: linear-gradient(180deg, #ffffff, #a8a8a82d);

}

.hidden-fights-show-all{
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
    margin-bottom: 20%;
    margin-right: 3%;
    text-decoration:underline;
}

.slide-out-footer{
    height: 20%;
}

.fighter-page-container{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 3% 3% 3%;
    margin-top: 95px;
}
.fighter-page-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.fighter-page-row{
    display: flex;
}
.fighter-page-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fighter-page-heading > a,h2,h4{
    margin: 0;
}

.fighter-page-heading > .nickname{
    margin: 2px 0;
}

.fighter-page-info{

    align-self: flex-start;
    margin-bottom: 2%;
}

.fighter-page-info p{
    
    margin: 2% 0;
    color: #00091f;
}

.fighter-page-comments{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 1%;
    margin-left: 1%;
}

.fighter-history-title{
    margin-top: 1%;
}



/* all */
.button-1 {
  align-items: center;
  appearance: button;
  background-color:#001c48;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:active {
  background-color: #006AE8;
}

.button-1:hover {
  background-color: #528dff;
}

.secondary-page{
    height: 8rem;
    width: 100%;
    background-color: #191919;
    border: 3px solid black;
}

.footer-text{
    text-align: center;
    color: white;
}

